.ButtonArrowRigth {
    border: 3px solid rgb(134, 128, 128);
    padding: 1rem;
    background: transparent;
    border-left: 0;

    cursor: pointer;

    svg {
        width:1.5rem;
        height: 2.5rem;
        fill: rgb(199, 196, 196);
       
    }



}