.ButtonArrowLeft {
    border: 3px solid rgb(134, 128, 128);
    border-right: 0;
    padding: 1rem;
    background: transparent;

    cursor: pointer;

    svg {
        width:1.5rem;
        height: 2.5rem;
        fill: rgb(199, 196, 196);
       
    }



}